@import "../../styles/globalvars.scss";
.navbar {
  position: relative;
  z-index:1;
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100vw;
  background-color: rgb(63, 68, 84);
  margin: 0;
}

.logo {
  position: relative;
  height: 130px;
  width: 130px;
  top: -28px;
  left: 10vw;
}

.navItems {
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 300px;
}

.navItem{
  cursor: pointer;
}

.downloadNavItem {
  position: relative;
  background-color: $light-grey;
  padding: 20px 16px 2px 14px;
  top: -10px;
  border-radius: 0 0 10px 0;
}

@media (max-width: $mobile-breakpoint) {
  .navItems {
    margin-right: 4vw;
    font-size: 20px;
    width: 200px;
  }
}
