@import "../../styles/globalvars.scss";

.titleBanner {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background-color: $blue-grey;
}

.floatRight {
  right: 10vw;
}

.yellow {
box-shadow: 10px 10px $yellow;
}

.red {

box-shadow: 10px 10px $red;
}

.green {

box-shadow: 10px 10px $green;
}


