@import "../../styles/globalvars.scss";

.titleBanner {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  height: 62px;
  background-color: $blue-grey;
  font-size: 38px;
}

.floatRight {
  right: 10vw;
}

.yellow {
box-shadow: 10px 10px $yellow;
}

.red {

box-shadow: 10px 10px $red;
}

.green {

box-shadow: 10px 10px $green;
}


@media (max-width: $mobile-breakpoint){
  .titleBanner {
    font-size: 20px;
    height: 36px;
  }
}
