@import '../../styles/globalvars.scss';
.eyesFollow {
  position: relative;
  z-index: 10;
  top: 70px;
  // right: -60px;
  left: 65px;
}

.eyes {
  display: flex;
  display: column;
  justify-content: space-between;
  width: 84px;
  align-items: center;
}

.eye {
  border-radius: 50% ;
  height: 34px;
  width: 34px;
  background: #fff;
}

.pupil {
  background: #111;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 25px;
  top: 12px;
}

@media  (max-width: $breakpoint){
  .eyesFollow {
    display: none;
  } 
}
